{% extends 'layout.html' %}
{% from "forms_macros.html" import render_field_with_errors, render_checkbox_field, render_field, render_button_field %}
{% block content %}
    <div class="row well">
        <h1 class="text-center">Login</h1>
        <form class="form-horizontal" action="{{ url_for('login') }}" method="POST" name="login_user_form">
            {{ login_user_form.hidden_tag() }}
            {{ render_field_with_errors(login_user_form.elixir_reg_id) }}
            {{ render_field_with_errors(login_user_form.password) }}
            {{ render_checkbox_field(login_user_form.remember) }}
            {{ render_field(login_user_form.next) }}
            <div class="form-group">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-raised">Submit</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}