{% extends 'layout.html' %}
{% import "forms_macros.html" as fmacros %}
{% set active_page = "login" %}
{% block title %}Login Form{% endblock %}
{% block js %}
{{ super() }}
{% assets "user_editor_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
{% block content %}
    <div class="card shadow-sm p-4 mx-auto" style="max-width: 400px;">
        <div class="card-body">
            <h1 class="text-center fw-bold text-primary mb-4">Login</h1>
            <form action="{{ url_for(login_page) }}" method="POST" name="login_user_form">
                {{ login_user_form.hidden_tag() }}
                {{ fmacros.render_field_with_errors(login_user_form.username) }}
                {{ fmacros.render_field_with_errors(login_user_form.password) }}
                {{ fmacros.render_field_with_errors(login_user_form.remember) }}
                {{ fmacros.render_field(login_user_form.next) }}
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}