{% extends 'layout.html' %}
{% import "forms_macros.html" as fmacros %}
{% block title %}Sign Up{% endblock %}
{% block js %}
{{ super() }}
{% assets "select2_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "user_editor_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
{% block css %}
{{ super() }}
{% assets "select2_css" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
{% endassets %}
{% endblock %}
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">{% if signup_form.id %} My Profile {% else %} Sign Up {% endif %}</div>
   <div class="panel-body">
    <form action="{{ url_for('oidc_login') }}" method="POST">
        {{ signup_form.hidden_tag() }}
        {{ fmacros.render_field_with_errors(signup_form.first_name) }}
        {{ fmacros.render_field_with_errors(signup_form.last_name) }}
        {{ fmacros.render_field_with_errors(signup_form.email) }}
        {{ fmacros.render_field_with_errors(signup_form.institution_accession, clazz="elx-select") }}
        <div class="form-group row">
            <div class="col-md-9">
                <p class="text-danger">Can not find your institution in the list, then please contact:
                    <img src="/static/public/images/datasteward_contact.png"/></p>
            </div>
        </div>
        {{ fmacros.render_field_with_errors(signup_form.institution_division) }}
        {{ fmacros.render_field_with_errors(signup_form.addr_line1) }}
        {{ fmacros.render_field_with_errors(signup_form.addr_line2) }}
        {{ fmacros.render_field_with_errors(signup_form.phone_no) }}
        <input type="submit" class="save btn btn-raised btn-primary" {% if signup_form.id %} value="Update My Info" {% else %} value="Sign Up" {% endif %} />
    </form>
</div>
</div>
{% endblock %}


