{% extends "layout.html" %}
{% import "forms_macros.html" as fmacros %}
{% block title %}User Edit{% endblock %}
{% block js %}
    {{ super() }}
    {% assets "select2_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "user_editor_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block css %}
    {{ super() }}
    {% assets "select2_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 block">
            <form  method="POST"
                  action="{{ url_for('edit_user',user_id=user_form.id.data) }}">
                {{ user_form.hidden_tag() }}
                {{ fmacros.render_field_with_errors(user_form.first_name) }}
                {{ fmacros.render_field_with_errors(user_form.last_name) }}
                {{ fmacros.render_field_with_errors(user_form.email) }}
                {{ fmacros.render_field_with_errors(user_form.phone_no) }}
                {{ fmacros.render_field_with_errors(user_form.addr_line1) }}
                {{ fmacros.render_field_with_errors(user_form.addr_line2) }}
                {{ fmacros.render_field_with_errors(user_form.institution, clazz="elx-autocomp-institution") }}
                {{ fmacros.render_field_with_errors(user_form.assigned_role_ids, clazz="elx-multi-select") }}
                <input type="submit" class="save btn btn-raised btn-primary" value="Save"/>
            </form>
        </div>

    </div>

{% endblock %}

