@import "../vendor/node_modules/bootstrap-material-design/less/bootstrap-material-design.less";

@brand-primary: #EF7503;
@lux-blue: #118ED6;
@alternative-color: @orange-100;
@labels-color: @blue-grey-300;
@footer-color: white;
@background-color: #eee;
@brand-primary-shadow: rgba(239, 117, 3, 0.21);
@brand-info: @lux-blue;
@brand-danger: #a52d24;
body, html {
  height: 100%;
}

header {
  margin-bottom: 30px;
  margin-top: 5px;
}

header h1 {
  font-size: 2.2em;
  margin-top: 35px;
}

header #login-buttons {
  margin-top: 25px;
}

#home-links {
  margin-top: 350px;
}

footer {
  position: relative;
  margin-top: -250px;
  height: 250px;
  clear: both;
  padding-top: 20px;
  text-align: center;
}

#home-users p {
  padding: 0;
}

.block {
  border: 1px solid #999;
  background-color: white;
  padding: 19px;
  margin-bottom: 20px;
}

.block h2 {
  padding: 0;
  margin: 0 0 20px;
}


.form-group .help-block {
  display: block;
  position: inherit;
}

#dp-link {
  margin-bottom: 50px;
  font-size: 1.8em;
  display: block;
}

#home-description > div > p {
  font-size: 1.8em;
}

#home-description {
  border-radius: 10px 2px 2px 2px;
}

#sidebar .block:first-child {
  border-radius: 2px 10px 2px 2px;

}

#sidebar {
  padding-right: 0px;
}

#wrap {
  min-height: 100%;
  margin-bottom: 250px;
}

.label.label-default .label.label-primary {
  background-color: @labels-color;
}

.pagination > .active > a, .pagination > .active > a:hover {
  background-color: @brand-primary;
  border-color: darken(@brand-primary, 20)
}

.pagination > li > a {
  color: @brand-primary;
}

.facets {
  //margin-top: 246px;
}

.facet {
  background-color: white;
  margin: 0 0 40px;
  border: 1px solid @grey-300;
  padding: 0;
  border-radius: 10px;
}

.facet h3 {
  background-color: @brand-primary;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  padding: 5px 0 5px 0;
  margin: 0;
  text-align: center;
  //font-weight: bold;
  font-size: 1.2em;
}

.facet ul {
  list-style: none;
  padding: 0 0 0 20px;
  margin-top: 20px;
}

.facet-option-selected {
  background-color: @alternative-color;
  border-left: 5px solid @brand-primary;
  margin-left: -10px;
  padding-left: 5px;
  padding-right: 0;
  border-bottom: 0
}

.facet-option {
  clear: both;
}

.facet-remove i {
  font-size: 18px;
}

.facet-remove {
  margin: 0;
}

.panel-footer {
  background-color: @alternative-color;
  padding: 6px 0 0;
}

.panel-body h3 a {
  color: black;
}

.panel-dataset .panel-body {
  padding-bottom: 5px;
}

.panel-heading {
  background-color: @alternative-color !important;

}

.panel-flat {
  border-radius: 2px;
  box-shadow: none;
  border: 1px solid @alternative-color;
}

.panel-dataset {
  border-top-left-radius: 10px;
}

dt {
  float: left;
  clear: left;
  width: 15em;
  margin-top: 15px;
  font-weight: normal;
  font-style: italic;
}

dd {
  float: left;
  margin-top: 15px;
  margin-left: 3px;
}

.notes {
  font-size: 1.5em;
  font-style: italic;
}

.navbar-info {
  border-radius: 10px;
}

.ui-dialog {
  z-index: 9999;
}