from elixir_dcp.scripts.db import START_UP_DATA
import os

basedir = os.path.abspath(os.path.dirname(__file__))

APP_DATA_BASE_DIR = os.path.abspath(os.path.join(basedir, '../../app-data'))

ELIXIR_DCP_ENV = 'dev'

#Above command does not work on the deployment server CentOS, so when deploying use below
# APP_DATA_BASE_DIR = '/home/elixirdcp/app-data'

class Config(object):

    # name of the application
    TITLE = 'Submission System'
    SECRET_KEY = b'deneme'

    SQLALCHEMY_DATABASE_URI = 'postgresql://xxx:xxxxx@localhost:5432/xxxxxx'
    SQLALCHEMY_TRACK_MODIFICATIONS = False


    UPLOADS_SERVER_PATH = '/attachments'
    UPLOAD_FOLDER = os.path.join(APP_DATA_BASE_DIR, 'uploads')
    SUBMISSION_EXPORT_FOLDER = os.path.join(APP_DATA_BASE_DIR, 'exports')

    DATA_STEWARDS_MAILS = ['pinar.alper@uni.lu']

    # Menu Bar Items a list of  (Name, Link, Sub item list, role)
    APP_MENU_BAR_ITEMS = [
        ('Admin', None, [('Submissions', 'list_submissions'), ('Users', 'list_users')], 'admin'),
        ('My Submissions', 'list_my_submissions', [], 'data_provider'),
    ]
    DATA_INIT = START_UP_DATA
    DAISY_USE = True
    DAISY_URL = "https://daisy.lcsb.uni.lu/"

    AUTHENTICATION_METHOD = 'AAI'


    # OIDC config
    OIDC_CLIENT_SECRETS = os.path.join(basedir, 'client_secrets.json')
    OIDC_SCOPES = ['openid', 'email', 'profile', 'bona_fide_status', 'groupNames']
    OIDC_COOKIE_SECURE = False


    CACHE_CONFIG = {'CACHE_TYPE': 'filesystem', 'CACHE_DIR': "cache",
                    'CACHE_THRESHOLD': 10000, 'CACHE_DEFAULT_TIMEOUT': 300}

class ProdConfig(Config):
    DEBUG = False
    SQLALCHEMY_ECHO = True

    OIDC_COOKIE_SECURE = True

    #Flask-Mail config
    MAIL_SERVER = 'localhost'
    MAIL_PORT = 25
    MAIL_USE_TLS = False
    MAIL_USE_SSL = False


class DevConfig(Config):
    DEBUG = False
    SQLALCHEMY_ECHO = True
    SQLALCHEMY_DATABASE_URI ='sqlite:///' + os.path.join(basedir, 'dev-elixir-dcp.db')


    #Flask-Mail config
    MAIL_SERVER = 'smtp.gmail.com'
    MAIL_PORT = 465
    MAIL_USE_SSL = True
    MAIL_USE_TLS = False
    MAIL_USERNAME = 'user@gmail.com'
    MAIL_PASSWORD = 'XXXXXXXXX'


class TestConfig(Config):
    DEBUG = True
    SQLALCHEMY_ECHO = False
    SQLALCHEMY_DATABASE_URI ='sqlite:///' + os.path.join(basedir, 'test-elixir-dcp.db')

    DAISY_USE = False

    AUTHENTICATION_METHOD = 'CONFIG'  # Possible methods is 'AAI' or 'CONFIG'
    # a dict containing user and password items for CONFIG based authentication
    AUTHENTICATION_DICT = {'pinar.alper@uni.lu': 'palper', 'kavita.rege@uni.lu': 'krege'}

    # OIDC config
    OIDC_CLIENT_SECRETS = os.path.join(basedir, 'client_secrets.json')

    PRESERVE_CONTEXT_ON_EXCEPTION = False

    ASSETS_DEBUG = True
    TESTING = True
    CACHE_CONFIG = {'CACHE_TYPE': 'null'}
    WTF_CSRF_ENABLED = False
