{% extends "submission/_inline_editor.html" %}
{% set inline_bean_name = 'attachment' %}

{% block inline_header %}
{{ super() }}
{% endblock %}
{% block inline_header_message %}
<p>In this section you can upload any documentation that support the information
    declared in the Dataset
    section. E.g. a copy of the Ethics Approval for the source study, the template of the Consent Form used
    during data collection etc.
    <span style="color:red;font-weight:bold">Please do NOT upload any DATA or METADATA through this section.</span>
</p>{% endblock %}
{% block inline_columns %}
{% include 'submission/_attachment_columns.html' %}
{% endblock %}

<br/>
<br/>
