{% extends "submission/_inline_editor.html" %}
{% block inline_content %}
    {% with %}
        {% set attachments = submission.attachments %}
        <div id="attachments_inline_list"
             data-url="{{ url_for('list_submission_attachments',sub_id=submission.id) }}">
            {% include 'submission/_attachment_columns.html' %}
        </div>
    {% endwith %}
<br/>
<br/>
    <div id="attachments_inline_editor">
        {% include 'submission/_attachment_form.html' %}
    </div>
{% endblock %}