{% if attachments %}
    <table style="width:700px" class="table table-striped table-bordered">
        <caption>Attachments:</caption>
        <thead>
        <tr>
            <th width="40%">Note</th>
            <th width="50%">File(s)</th>
            {% if  not readonly %}
                <th width="15%">Actions</th>
            {% endif %}
        </tr>
        </thead>
        {% for attachment in attachments %}
            <tr>
                <td>{{ attachment.note }}</td>
                <td>{% if attachment.files_urls() %}
                    <ul>
                        {% for file_url, file_name in attachment.files_urls() %}
                            <li><a href="{{ file_url }}">{{ file_name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                </td>
                {% if  not readonly %}
                    <td>
                        <a id="submission_attachment_listing_delete"
                           data-url="{{ url_for('delete_submission_attachment',attach_id=attachment.id) }}"
                           role="button">
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% else %}
    <div class="text-center">
        <h3> ___ No attachments provided yet ___</h3>
    </div>
{% endif %}