{% if contacts %}
    <table class="table table-striped table-bordered">
        <caption>Contacts:</caption>
        <thead>
        <tr>
            <th width="25%">Name SURNAME</th>
            <th width="25%">Email</th>
            <th width="25%">Type</th>
            {% if  not readonly %}
                <th width="15%">Actions</th>
            {% endif %}
        </tr>
        </thead>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.fullname() }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.contact_category.name }}</td>
                {% if  not readonly %}
                    <td>
                        <a id="submission_contact_listing_delete"
                           data-url="{{ url_for('delete_submission_contact',contact_id=contact.id) }}" role="button">
                            <i class="material-icons">delete</i>
                        </a>
                        <a id="submission_contact_listing_edit"
                           data-url="{{ url_for('edit_submission_contact',contact_id=contact.id) }}" role="button">
                            <i class="material-icons">edit</i>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% else %}
    <div  class="text-center">
        <h3> ___ No Contacts defined yet ___</h3>
    </div>
{% endif %}
