{% extends "submission/_inline_editor.html" %}
{% block inline_content %}
      {% with %}
            {% set contacts = submission.contacts %}
            <div id="contacts_inline_list"
                 data-url="{{ url_for('list_submission_contacts',sub_id=submission.id) }}">
                {% include 'submission/_contact_columns.html' %}
            </div>

        {% endwith %}
<br/>
        <div id="contacts_inline_editor" data-url="{{ url_for('add_edit_submission_contact') }}">
            {% include 'submission/_contact_form.html' %}
        </div>
{% endblock %}