{% if submission.datadecs %}
<table class="table table-striped table-bordered" data-url="{{ url_for('list_submission_datadecs',sub_id=submission.id) }}">
    {% if  not readonly %}
    <span class="label label-default  label-large">Data Declarations</span><br/><br/>
    {% endif %}
    <thead>
    <tr>
        <th rowspan="2">Title</th>
        <th rowspan="2">Source Study/Cohort</th>
        <th rowspan="2">Data Type(s)</th>
        <th colspan="4">Data Protection</th>
        {% if not readonly %}
        <th rowspan="2">Actions</th>
        {% endif %}
    </tr>
    <tr>
        <th>De-Identification</th>
        <th>Special Subjects?</th>
        <th>Consent Status</th>
        <th>Use Conditions</th>
    </tr>
    </thead>
    {% for datadec in submission.datadecs %}
    <tr>
        <td>{{ datadec.title }}</td>
        <td>{% if datadec.study %} {{ datadec.study.study_name}} {% endif %}</td>
        <td>
            <ul>
                {% for name in datadec.data_type_names() %}
                <li>{{ name }}</li>
                {% endfor %}
            </ul>
        </td>
        <td>{{ datadec.de_identification_type.label }}</td>
        <td>{{ datadec.special_subjects_status_display() }}</td>
        <td>{{ datadec.consent_status.label }}</td>
        <td>
            <ul>
                {% for code, name in datadec.duc_codes_names() %}
                <li> {{ name }}</li>
                {% endfor %}
            </ul>
        </td>

        {% if not readonly %}
        <td>
            <a id="inline_listing_delete"
               data-url="{{ url_for('delete_submission_datadec',datadec_id=datadec.id) }}" role="button">
                <i class="material-icons">delete</i>
            </a>
            <a id="inline_listing_edit"
               data-url="{{ url_for('edit_submission_datadec',datadec_id=datadec.id) }}" role="button">
                <i class="material-icons">edit</i>
            </a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% else %}
<div class="text-center">
    <h3> ___ No data declared yet ___</h3>
</div>
{% endif %}
