{% import "forms_macros.html" as fmacros %}

<div class="panel panel-default">
    <div class="panel-heading">{% if dish_form.id.data %}Update {% else %}Add New {% endif %}Study</div>
    <div class="panel-body">
        <form id="form_submission_dish">
            {{ dish_form.hidden_tag() }}
            {{ fmacros.render_field_with_errors(dish_form.study_name) }}
            {{ fmacros.render_checkbox_field(dish_form.joint_providers) }}
            {{ fmacros.render_field_with_errors(dish_form.estimate_data_size, div_col_class="col-md-2", clazz="elx-select") }}
            <fieldset>
                <legend>Ethics</legend>
                            {{ fmacros.render_checkbox_field(dish_form.ethics_approval_exists) }}
                            {{ fmacros.render_checkbox_field(dish_form.subjects_minors) }}
                            {{ fmacros.render_checkbox_field(dish_form.subjects_vulnerable) }}
                            {{ fmacros.render_checkbox_field(dish_form.subjects_unable_to_consent) }}
            </fieldset>
            <fieldset>
                <legend>Data Protection</legend>
                            {{ fmacros.render_field_with_errors(dish_form.consent_status, div_col_class="col-md-2", clazz="elx-select") }}
                            {{ fmacros.render_field_with_errors(dish_form.de_identification_type, div_col_class="col-md-2", clazz="elx-select") }}
                            {{ fmacros.render_field_with_errors(dish_form.storage_end_date, div_col_class="col-md-3", clazz="elx-date") }}
                            {{ fmacros.render_field_with_errors(dish_form.embargo_end_date, div_col_class="col-md-3", clazz="elx-date") }}
            </fieldset>
        </form>
        <a id="submission_dish_save" class="save btn btn-raised btn-primary" role="button">Save Study</a>
    </div>
</div>
