{% if dishes %}
    <table style="width:900px" class="table table-striped table-bordered">
        <caption>Studies:</caption>
        <thead>
        <tr>
            <th width="15%">Study Name</th>
            <th width="10%">De-Identification</th>
            <th width="10%">Special Subjects?</th>
            <th width="10%">Consent Status</th>
            <th width="35%">Use Conditions</th>
            <th width="20%">Actions</th>
        </tr>
        </thead>
        {% for dish in dishes %}
            <tr>
                <td>{{ dish.study_name }}</td>
                <td>{{ dish.de_identification_type.value }}</td>
                <td>{{ dish.special_subjects_status_display() }}</td>
                <td>{{ dish.consent_status.value }}</td>
                <td>
                    <ul>
                        {% for code, name in dish.duc_codes_names() %}
                            <li>{{ code }}, {{ name }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <a id="submission_dish_listing_delete"
                       data-url="{{ url_for('delete_submission_dish',dish_id=dish.id) }}" role="button">
                        <i class="material-icons">delete</i>
                    </a>
                    <a id="submission_dish_listing_edit"
                       data-url="{{ url_for('add_edit_submission_dish',dish_id=dish.id) }}" role="button">
                        <i class="material-icons">edit</i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <br/>
    <div class="text-center">
        <h3> No Studies.</h3>
    </div>
{% endif %}
