{% if dishes %}
    <table style="width:1000px" class="table table-striped table-bordered">
        <caption>Dataset Infos:</caption>
        <thead>
        <tr>

            <th rowspan="2">Name</th>
            <th colspan="4" align="center">Data Protection Information</th>
            <th rowspan="2">Study Metadata</th>
            {% if  not readonly %}
                <th rowspan="2">Actions</th>
            {% endif %}
        </tr>
        <tr>
            <th>De-Identification</th>
            <th>Special Subjects?</th>
            <th>Consent Status</th>
            <th>Use Conditions</th>
        </tr>
        </thead>
        {% for dish in dishes %}
            <tr>
                <td>{{ dish.study_name }}</td>
                <td>{{ dish.de_identification_type.value }}</td>
                <td>{{ dish.special_subjects_status_display() }}</td>
                <td>{{ dish.consent_status.value }}</td>
                <td>
                    <ul>
                        {% for code, name in dish.duc_codes_names() %}
                            <li>{{ code }}, {{ name }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-tag"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Show Form</a></li>
                            <li><a href="#">Upload XLS</a></li>
                        </ul>
                    </div>
                </td>
                {% if  not readonly %}
                    <td>
                        <a id="submission_dish_listing_delete"
                           data-url="{{ url_for('delete_submission_dish',dish_id=dish.id) }}" role="button">
                            <i class="material-icons">delete</i>
                        </a>
                        <a id="submission_dish_listing_edit"
                           data-url="{{ url_for('add_edit_submission_dish',dish_id=dish.id) }}" role="button">
                            <i class="material-icons">edit</i>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% else %}
    <br/>
    <div class="text-center">
        <h3> No Datasets.</h3>
    </div>
{% endif %}
