{% import "forms_macros.html" as fmacros%}

<div class="panel panel-default">

    <div class="panel-body">{% if dish_form.id.data %}Update {% else %}Add New {% endif %}Study</div>

    <form id="form_submission_dish">
        {{ dish_form.hidden_tag() }}
        {{ fmacros.render_field_with_errors(dish_form.study_name) }}
        {{ fmacros.render_checkbox_field(dish_form.joint_providers) }}
        {{ fmacros.render_select_field(dish_form.estimate_data_size) }}
        <div class="panel panel-default">
            <div class="panel-heading">Ethics</div>
            <div class="panel-body">
                {{ fmacros.render_checkbox_field(dish_form.ethics_approval_exists) }}
                {{ fmacros.render_checkbox_field(dish_form.subjects_minors) }}
                {{ fmacros.render_checkbox_field(dish_form.subjects_vulnerable) }}
                {{ fmacros.render_checkbox_field(dish_form.subjects_unable_to_consent) }}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Data Protection</div>
            <div class="panel-body">
                {{ fmacros.render_select_field(dish_form.consent_status) }}
                {{ fmacros.render_select_field(dish_form.de_identification_type) }}
                {{ fmacros.render_date_field(dish_form.storage_end_date) }}
                {{ fmacros.render_date_field(dish_form.embargo_end_date) }}
            </div>
        </div>
    </form>

    <a id="submission_dish_save" class="save btn btn-raised btn-primary" role="button">Save Study</a>

</div>
