{% import 'macros.html' as macros %}
{{ macros.show_flashes() }}
{% if dishes %}
    <table style="width:700px" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th width="55%">Study Name</th>
            <th width="10%">De-Identification</th>
            <th width="10%">Special Subjects?</th>
            <th width="10%">Use Conditions Status</th>
            <th width="15%">Actions</th>
        </tr>
        </thead>
        {% for dish in dishes %}
            <tr>
                <td>{{ dish.study_name }}</td>
                <td>{{ dish.de_identification_type.value }}</td>
                <td>{{ dish.special_subjects_status() }}</td>
                <td>{{ dish.consent_status.value }}</td>
                <td>
                    <a id="submission_dish_listing_delete"
                       data-url="{{ url_for('delete_submission_dish',dish_id=dish.id) }}" role="button">
                        <i class="material-icons">delete</i>
                    </a>
                    <a id="submission_dish_listing_edit"
                       data-url="{{ url_for('add_edit_submission_dish',dish_id=dish.id) }}" role="button">
                        <i class="material-icons">edit</i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <div class="text-center">
        <h3> No Study has been added.</h3>
    </div>
{% endif %}
