{% import "forms_macros.html" as fmacros %}

<div class="panel panel-default">
    <div class="panel-heading">{% if study_form.id.data %}Update {% else %}New {% endif %}Study</div>
    <div class="panel-body">
        <form id="form_inline_bean" {% if study_form.id.data %}
              data-url="{{ url_for('edit_submission_study', study_id = study_form.id.data)}}" {% else %}
              data-url="{{ url_for('add_submission_study', sub_id=study_form.submission_id.data)}}" {% endif %}>
            <fieldset>
                <legend>General Info</legend>
                {{ study_form.hidden_tag() }}
                {{ fmacros.render_field_with_errors(study_form.study_name) }}
                {{ fmacros.render_field_with_errors(study_form.study_description) }}
                {{ fmacros.render_field_with_errors(study_form.ethics_approval_exists) }}
                {{ fmacros.render_field_with_errors(study_form.study_types, clazz="elx-multi-select") }}
            </fieldset>
            <div class="form-group row">
            </div>
            <fieldset>
                <legend>Study Contacts</legend>
                <div class="form-group row">
                    <div class="col-md-12">
                        <p style="color:red;">If contact institution is not found in the options provided, please contact
                            <img src="/static/public/images/datasteward_contact.png"/></p>
                    </div>
                </div>
                <div class="form-group row {% if study_form.study_contacts.errors %}has-error{% endif %}">
                    <div class="col-md-12">
                        <div data-toggle="fieldset" id="study-contacts-fieldset">
                            <button type="button" data-toggle="fieldset-add-row" data-target="#study-contacts-fieldset">
                                +
                            </button>

                            <table style="table-layout: fixed">
                                <tr>
                                    <th width="15%">Name</th>
                                    <th width="15%">Surname</th>
                                    <th width="15%">Email</th>
                                    <th width="15%">Role</th>
                                    <th width="35%">Address/Institution</th>
                                    <th width="5%"></th>
                                </tr>
                                {% for contact_form in study_form.study_contacts %}
                                <tr data-toggle="fieldset-entry">
                                    <td>{{ fmacros.render_field(contact_form.firstname) }}</td>
                                    <td>{{ fmacros.render_field(contact_form.surname) }}</td>
                                    <td>{{ fmacros.render_field(contact_form.email) }}</td>
                                    <td>{{ fmacros.render_field(contact_form.category_id) }}</td>
                                    <td>{{ fmacros.render_field(contact_form.institution,  width="100", class="elx-select") }}</td>

                                    <td>
                                        <button type="button" data-toggle="fieldset-remove-row"
                                                id="study-contacts-{{ loop.index0 }}-remove">-
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        {% if study_form.study_contacts.errors %}
                        {% for error in study_form.study_contacts.errors %}<p class="help-block">{{ error }}</p>
                        {% endfor %}
                        {% endif %}
                    </div>


                </div>
            </fieldset>
        </form>
        <a id="inline_bean_save" class="save btn btn-raised btn-primary" role="button">Save</a>
        <a id="inline_bean_cancel" class="save btn btn-raised btn-primary" role="button">Cancel</a>
    </div>
</div>
