{% import "forms_macros.html" as fmacros%}
<div>
    <form id="form_submission_access"
          method="POST"
          action="{{ url_for('share_submission',sub_id=submsn_access_form.id.data) }}">
        {{ submsn_access_form.hidden_tag() }}
        {{ fmacros.render_field_with_errors(submsn_access_form.ref_name, readonly=true) }}
        {{ fmacros.render_field_with_errors(submsn_access_form.title, readonly=true) }}
        {{ fmacros.render_field_with_errors(submsn_access_form.provider_user_id, clazz="elx-select") }}
    </form>
</div>