{% import "forms_macros.html" as fmacros %}
<div class="panel panel-default">
    <div class="panel-heading">Update Submission</div>
    <div class="panel-body">
        <form method="POST" id="bean_form"
              data-url="{{ url_for('edit_submission',sub_id=submsn_form.id.data)}}">
            <fieldset>
                {{ submsn_form.hidden_tag() }}
                {{ fmacros.render_field_with_errors(submsn_form.title) }}
                {{ fmacros.render_field_with_errors(submsn_form.institution_accession, clazz="elx-select") }}
                {{ fmacros.render_field_with_errors(submsn_form.submission_scope_code,  clazz="elx-select") }}
                {{ fmacros.render_field_with_errors(submsn_form.local_custodians, clazz="elx-multi-select") }}
                {{ fmacros.render_field_with_errors(submsn_form.local_project_name) }}
                {% if current_user.is_admin() %}
                {{ fmacros.render_field_with_errors(submsn_form.provider_user_ids, clazz="elx-multi-select") }}
                {{ fmacros.render_field_with_errors(submsn_form.upload_instructions) }}
                {% endif %}
            </fieldset>
        </form>
        <a id="bean_save" class="save btn btn-raised btn-primary" role="button">Save</a>
        <a id="bean_cancel" class="save btn btn-raised btn-primary" role="button">Cancel</a>
    </div>
</div>
