<div class="row bs-wizard" style="border-bottom:0;">
    {% with %}
        {% set stp = submission.current_status.step_num() %}

        <div class="col-xs-3 bs-wizard-step {% if stp < 1 %} disabled {% elif stp == 1 %} active  {% elif stp > 1 %} complete {% endif %}">
            <div class="text-center bs-wizard-stepnum">1 - Initiation</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Data Steward initiates submission.</div>
        </div>

        <div class="col-xs-3 bs-wizard-step {% if stp < 2 %} disabled {% elif stp == 2 %} active  {% elif stp > 2 %} complete {% endif %}">
            <div class="text-center bs-wizard-stepnum">2 - Study Registration</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Data Provider fills-in submission info. </div>
        </div>

        <div class="col-xs-3 bs-wizard-step {% if stp < 3 %} disabled {% elif stp == 3 %} active  {% elif stp > 3 %} complete {% endif %}">
            <div class="text-center bs-wizard-stepnum">3 - Upload</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Data Provider uploads data and metadata.</div>
        </div>

        <div class="col-xs-3 bs-wizard-step {% if stp < 4 %} disabled {% elif stp == 4 %} active  {% elif stp > 4 %} complete {% endif %}">
            <div class="text-center bs-wizard-stepnum">4 - Completion</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Data Steward confirms receipt of data and metadata.</div>
        </div>
    {% endwith %}
</div>


<div class="span">
    <div class="spacer10"></div>
</div>
