{% import 'macros.html' as macros %}
{{ macros.show_flashes() }}

{% if uploadinfos %}
    <table style="width:700px"  class="table table-striped table-bordered">
        <thead>
        <tr>
            <th width="30%">Uploaded File Name</th>
            <th width="30%">Checksum</th>
            <th width="15%">Actions</th>
        </tr>
        </thead>
        {% for uploadinfo in uploadinfos %}
            <tr>
                <td>{{ uploadinfo.file_name }}</td>
                <td>{{ uploadinfo.md5_checksum_at_provider }}</td>

                <td>
                    <a id="submission_uploadinfo_listing_delete"
                       data-url="{{ url_for('delete_submission_uploadinfo',uploadinfo_id=uploadinfo.id) }}" role="button">
                        <i class="material-icons">delete</i>
                    </a>
                    <a id="submission_uploadinfo_listing_edit"
                       data-url="{{ url_for('add_edit_submission_uploadinfo',uploadinfo_id=uploadinfo.id) }}" role="button">
                        <i class="material-icons">edit</i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <div class="text-center">
    <h3> No upload information has been added yet. </h3>
    </div>
{% endif %}