{% extends "layout.html" %}
{% import "forms_macros.html" as fmacros %}
{% block title %}Data Declaration Form{% endblock %}
{% block js %}
{{ super() }}
{% assets "select2_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "submission_editor_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
{% block css %}
{{ super() }}
{% assets "select2_css" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
{% endassets %}
{% endblock %}
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">{% if datadec_form.id.data %}Update {% else %}Add New {% endif %}Data Declaration</div>
    <div class="panel-body">
        <form method="POST" {% if datadec_form.id.data %}
              data-url="{{ url_for('edit_submission_datadec', datadec_id = datadec_form.id.data)}}" {% else %}
              data-url="{{ url_for('add_submission_datadec', sub_id=datadec_form.submission_id.data)}}" {% endif %}>
            <fieldset>
                <legend>General</legend>
                {{ datadec_form.hidden_tag() }}
                {{ fmacros.render_field_with_errors(datadec_form.title) }}
                {{ fmacros.render_field_with_errors(datadec_form.study_id, clazz="elx-select")}}
                {{ fmacros.render_field_with_errors(datadec_form.gdpr_datatypes, clazz="elx-multi-select") }}
                {{ fmacros.render_field_with_errors(datadec_form.gdpr_datatypes_notes) }}
                {{ fmacros.render_field_with_errors(datadec_form.sci_datatypes, clazz="elx-multi-select") }}
                {{ fmacros.render_field_with_errors(datadec_form.sci_datatypes_notes) }}
                {{ fmacros.render_field_with_errors(datadec_form.de_identification_type_code, clazz="elx-select") }}
                {{ fmacros.render_field_with_errors(datadec_form.has_samples, clazz="custom-control custom-switch") }}
                {{ fmacros.render_field_with_errors(datadec_form.samples_notes) }}
                <fieldset>
                    <legend>Lawful Bases of data processing</legend>
                    {{ fmacros.render_field_with_errors(datadec_form.legal_basis_collection_std_code,
                    clazz="elx-select") }}
                    {{ fmacros.render_field_with_errors(datadec_form.legal_basis_sharing_std_code,
                    clazz="elx-select") }}
                    {{ fmacros.render_field_with_errors(datadec_form.legal_basis_collection_spec_code,
                    clazz="elx-select") }}
                    {{ fmacros.render_field_with_errors(datadec_form.legal_basis_sharing_spec_code,
                    clazz="elx-select") }}
                    {{ fmacros.render_field_with_errors(datadec_form.legal_basis_notes) }}
                </fieldset>
                <fieldset>
                    <legend>Data subjects</legend>
                    {{ fmacros.render_field_with_errors(datadec_form.subject_category_code,
                    clazz="elx-select") }}
                    {{ fmacros.render_field_with_errors(datadec_form.has_special_subjects) }}
                    {{ fmacros.render_field_with_errors(datadec_form.special_subjects_notes) }}
                    {{ fmacros.render_field_with_errors(datadec_form.consent_status_code,
                    clazz="elx-select") }}
                    {{ fmacros.render_field_with_errors(datadec_form.consent_notes) }}
                    {{ fmacros.render_field_with_errors(datadec_form.restriction_rs) }}
                    {{ fmacros.render_field_with_errors(datadec_form.restriction_rs_notes) }}
                    {{ fmacros.render_field_with_errors(datadec_form.restriction_ts) }}
                    {{ fmacros.render_field_with_errors(datadec_form.restriction_ts_notes) }}
                    {{ fmacros.render_field_with_errors(datadec_form.restriction_pub) }}
                    {{ fmacros.render_field_with_errors(datadec_form.restriction_pub_notes) }}
                    {{ fmacros.render_field_with_errors(datadec_form.restriction_rtn) }}
                    {{ fmacros.render_field_with_errors(datadec_form.restriction_rtn_notes) }}
                </fieldset>
                <fieldset>
                    <legend>Consent and use restrictions originating from consent</legend>
                    {{ fmacros.render_field_with_errors(datadec_form.consent_status_code,
                    clazz="elx-select") }}
                    {{ fmacros.render_field_with_errors(datadec_form.consent_notes) }}
                    {{ fmacros.render_field_with_errors(datadec_form.subject_category_code,
                    clazz="elx-select") }}
                    {{ fmacros.render_field_with_errors(datadec_form.has_special_subjects) }}
                    {{ fmacros.render_field_with_errors(datadec_form.special_subjects_notes) }}
                    {{ fmacros.render_field_with_errors(datadec_form.restriction_rs) }}
                    {{ fmacros.render_field_with_errors(datadec_form.restriction_rs_notes) }}
                    {{ fmacros.render_field_with_errors(datadec_form.restriction_ts) }}
                    {{ fmacros.render_field_with_errors(datadec_form.restriction_ts_notes) }}
                    {{ fmacros.render_field_with_errors(datadec_form.restriction_pub) }}
                    {{ fmacros.render_field_with_errors(datadec_form.restriction_pub_notes) }}
                    {{ fmacros.render_field_with_errors(datadec_form.restriction_rtn) }}
                    {{ fmacros.render_field_with_errors(datadec_form.restriction_rtn_notes) }}
                </fieldset>
                <fieldset>
                    <legend>Specific use restrictions</legend>
                    {{ fmacros.render_field_with_errors(datadec_form.restriction_gs) }}
                    {{ fmacros.render_field_with_errors(datadec_form.restriction_gs_notes) }}
                    {{ fmacros.render_field_with_errors(datadec_form.restriction_other_notes) }}
                    {{ fmacros.render_field_with_errors(datadec_form.access_form_required) }}
                    <span style="color:red">If an access request form is needed, please make sure you upload the form template as an attachment to this submission.</span>
                    {{ fmacros.render_field_with_errors(datadec_form.dac_approval_required) }}
                    {{ fmacros.render_field_with_errors(datadec_form.dac_approval_notes) }}
                    {{ fmacros.render_field_with_errors(datadec_form.restriction_ip) }}
                    {{ fmacros.render_field_with_errors(datadec_form.restriction_ip_notes) }}
                </fieldset>
            </fieldset>
            <input type="submit" class="save btn btn-raised btn-primary" value="Save"/>
            <a href="{{ url_for('view_submission',sub_id=datadec_form.submission_id.data) }}" class="cancel btn btn-raised btn-primary" role="button">Cancel</a>
        </form>

    </div>
</div>
{% endblock %}