{% extends "layout.html" %}
{% set active_page = "submissions" %}
{% block title %}Submission Editor{% endblock %}


{% block content %}
    <form id="form_submission_editor"
          method="POST"
          action="{{ url_for('add_edit_submission',sub_id=form.id.data) }}"
          role="form">
        <div>
            <div>
                <h1>{% block h1 %}Submission: {% endblock %}</h1>
                {{ form.csrf_token }}
                {{ form.id}}
                <div>{{ form.name.label }}: {{ form.name }}</div>
                <div>{{ form.description.label }}: {{ form.description }}</div>
                <div>{{ form.created.label }}:  {{ form.created }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <a href="{% block cancel_link %}{{ url_for('list_submissions') }}{% endblock %}"
                   class="cancel btn btn-raised btn-danger">Cancel
                </a>
            </div>
            <div class="text-right col-md-2 col-md-offset-8">
                <input type="submit" class="save btn btn-raised btn-primary" value="Save"/>
            </div>
        </div>
    </form>
{% endblock %}



