{% extends "layout.html" %}
{% set active_page = "submissions" %}
{% if submsn_form.id.data == "0"  %}
    {% set page_mode = 'create' %}
{% else %}
    {% set page_mode = 'edit' %}
{% endif %}
{% block title %}Submission Editor{% endblock %}
{% block js %}
    {{ super() }}

    {% assets "submission_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

{% endblock %}
{% block content %}
    <div id="tabs" page-mode="{{ page_mode }}">
        <ul>
            <li><a href="#basicinfo">Basic Info & DISH</a></li>
            <li><a href="#contacts">Contacts</a></li>
            <li><a href="#attachments">Attachments</a></li>
        </ul>
        <div id="basicinfo">
            <form id="form_submission_editor"
                  method="POST"
                  action="{{ url_for('add_edit_submission',sub_id=submsn_form.id.data) }}">
                <div class="row">
                    {{ submsn_form.hidden_tag() }}
                    <div>{{ submsn_form.name.label }}</div>
                    <div>{{ submsn_form.name }}</div>
                    <div>{{ submsn_form.description.label }}</div>
                    <div>{{ submsn_form.description }}</div>
                    <div>{{ submsn_form.created.label }}</div>
                    <div>{{ submsn_form.created }}</div>
                </div>
                <input type="submit" class="save btn btn-raised btn-primary" value="Save"/>
            </form>
        </div>

        <div id="contacts" data-url="{{ url_for('list_submission_contacts',sub_id=submsn_form.id.data) }}">
        </div>
        <div id="attachments" data-url="{{ url_for('list_submission_attachments',sub_id=submsn_form.id.data) }}">
        </div>
    </div>

{% endblock %}



