{% extends "layout.html" %}
{% set active_page = "submission" %}
{% block title %}My Submission{% endblock %}
{% block js %}
    {{ super() }}

    {% assets "submission_editor_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

{% endblock %}
    <div>
        <div>{{ submission.name }}</div>
        <div>{{ submission.description }}</div>
        <div>{{ submission.created_on }}</div>
        <div>{{ submission.joint_providers }}</div>
    </div>

    <div id="tabs">
        <ul>
            <li><a href="#attachments">Attachments</a></li>
            <li><a href="#dishes">Study Info</a></li>
        </ul>
        <div id="attachments" data-url="{{ url_for('list_submission_attachments',sub_id=submission.id) }}">
            <!-- ...... filled in dynamically via ajax -->
        </div>
        <div id="dishes" data-url="{{ url_for('list_submission_dishes',sub_id=submission.id.data) }}">
            <!-- ...... filled in dynamically via ajax -->
        </div>

    </div>



