{% extends "layout.html" %}
{% import "forms_macros.html" as fmacros%}
{% block title %}Submission Editor{% endblock %}
{% block js %}
    {{ super() }}
    {% assets "submission_editor_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
{% block content %}
    {{ macros.show_flashes() }}
    <div id="tabs">
        <ul>
            <li><a href="#basicinfo">Basics</a></li>
            <li><a href="#contacts">Contacts</a></li>
            <li><a href="#attachments">Attachments</a></li>
            <li><a href="#dishes">Study Info</a></li>
        </ul>
        <div id="basicinfo" class="container">
            <form id="form_submission_editor"
                  method="POST"
                  action="{{ url_for('edit_submission',sub_id=submsn_form.id.data) }}">
                {{ submsn_form.hidden_tag() }}
                {{ fmacros.render_field_with_errors(submsn_form.name) }}
                {{ fmacros.render_textarea_field(submsn_form.description) }}
                {{ fmacros.render_date_field(submsn_form.created_on) }}
                {{ fmacros.render_select_field(submsn_form.current_status) }}
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="submit" class="save btn btn-raised btn-primary" value="Save"/>
                    </div>
                </div>
            </form>

        </div>
        <div id="contacts" class="container">
            {% with %}
                {% set contacts = submission.contacts %}
                {% set contact_form =  submsn_form.child_contact_form() %}
                <div id="contacts_inline_list" class="row" data-url="{{ url_for('list_submission_contacts',sub_id=submission.id) }}">
                    {% include 'submission/_contact_columns.html' %}
                </div>
                <hr size="2px"/>
                <div id="contacts_inline_editor" class="row" data-url="{{ url_for('add_edit_submission_contact') }}">
                    {% include 'submission/_contact_form.html' %}
                </div>
            {% endwith %}
        </div>

        <div id="attachments">
            {% with %}
                {% set attachments = submission.attachments %}
                {% set attachment_form =  submsn_form.child_attachment_form() %}
                <div id="attachments_inline_list"  data-url="{{ url_for('list_submission_attachments',sub_id=submission.id) }}">
                    {% include 'submission/_attachment_columns.html' %}
                </div>
                <hr size="2px"/>
                <div id="attachments_inline_editor" class="container" data-url="{{ url_for('add_submission_attachment') }}">
                    {% include 'submission/_attachment_form.html' %}
                </div>
            {% endwith %}
        </div>
        <div id="dishes">
            {% with %}
                {% set dishes = submission.dishes %}
                {% set dish_form =  submsn_form.child_dish_form() %}
                <div id="dishes_inline_list" data-url="{{ url_for('list_submission_dishes',sub_id=submission.id) }}">
                    {% include 'submission/_dish_columns.html' %}
                </div>
                <hr size="2px"/>
                <div id="dishes_inline_editor" data-url="{{ url_for('add_edit_submission_dish') }}">
                    {% include 'submission/_dish_form.html' %}
                </div>
            {% endwith %}
        </div>
    </div>

{% endblock %}

