{% set active_page = 'generate_submission_pdf' %}
<head>
    <meta charset="UTF-8">

</head>
<div class="row">
    <div class="col-md-2 logos-section" align="right">

        {% if submission_rec.is_elixir() %}
        <img src="{{png_elx_lu}}" typealt="elixir luxembourg logo" width="100px" height="auto"/>
        {% endif %}

        <img src="{{png_lcsb}}" width="70px" height="auto">
        <img src="{{png_uni}}" width="70px" height="auto">
    </div>
    <div class="col-md-4"><h1 align="left"><strong>Data Information Sheet</strong></h1></div>
</div>

{% block content %}

<div>
    <div>
        <h3>Submission</h3>
        <hr/>
        <table class="table table-bordered">
            <tr>
                <th scope="row">Reference No</th>
                <td> {{ submission_rec.ref_name or '' }}</td>
            </tr>
            <tr>
                <th scope="row">Title</th>
                <td>{{ submission_rec.title or '' }}</td>
            </tr>
            <tr>
                <th scope="row">Data Provider(s)</th>
                <td>{{ submission_rec.provider_user_names()| join(', ') }}</td>
            </tr>
            <tr>
                <th scope="row">Date of Finalisation</th>
                <td>{{ submission_rec.finalised_on or '' }}</td>
            </tr>
            <tr>
                <th scope="row">Category</th>
                <td>{{ submission_rec.submission_scope.label }}</td>
            </tr>
            <tr>
                <th scope="row">Recipient</th>
                <td>{{ submission_rec.local_custodians_json|replace('"','') | replace("[", '')| replace("]",
                    '')|join('')}}
                </td>
            </tr>
            <tr>
                <th scope="row">Recipient Project</th>
                <td>{{ submission_rec.local_project_name or '' }}</td>
            </tr>
        </table>
    </div>

    <div>
        <h3>Studies</h3>
        <hr/>
        <table class="table table-bordered">
            {% for study in submission_rec.studies %}
            <tr>
                <td rowspan="6" {% if loop.index % 2== 1 %} bgcolor="#CCC" {% else %} bgcolor="#f2f2f2" {% endif %}>
                    {{loop.index}}
                </td>
            </tr>

            <tr>
                <th scope="row">Study Name</th>
                <td>
                    {{ study.name }}
                </td>
            </tr>
            <tr>
                <th scope="row">Study Description</th>
                <td>{{ study.description }}</td>
            </tr>
            <tr>
                <th scope="row">Study Type</th>
                <td>{{ study.study_types_json|replace('"','') | replace("[", '')| replace("]", '')|join('') }}</td>
            </tr>
            <tr>
                <th scope="row">Has Ethics Approval</th>
                <td>{{ study.ethics_approval_exists | replace("True","Yes") | replace("False","No") }}</td>
            </tr>
            <tr>
                <th scope="row">Contacts</th>
                <td>
                    <table class="table .table-borderless">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Role</th>
                        </tr>
                        {% for contact in study.study_contacts %}
                        <tr>
                            <td>{{ contact.fullname() }}</td>
                            <td>{{ contact.contact_category.name }}</td>
                        </tr>
                        {% endfor %}
                        </thead>
                    </table>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <h3>Data Declarations</h3>
        <hr/>
        <table class="table table-bordered">

            {% for datadec in submission_rec.datadecs %}
            <tr>
                <td rowspan="10" {% if loop.index % 2== 1 %} bgcolor="#CCC" {% else %} bgcolor="#f2f2f2" {% endif %}>
                    {{loop.index}}
                </td>
            </tr>

            <tr>
                <th scope="row">Source Study</th>

                <td>{% if datadec.study %}
                    {{ datadec.study.name }}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th scope="row">Subject Minors</th>
                <td>{{ datadec.subjects_minors | replace("True","Yes") | replace("False","No") }}</td>
            </tr>

            <tr>
                <th scope="row">Subjects those unable to consent</th>
                <td>{{ datadec.subjects_unable_to_consent | replace("True","Yes") | replace("False","No") }}</td>
            </tr>
            <tr>
                <th scope="row">Other Vulnerable Subjects</th>
                <td>{{ datadec.subjects_vulnerable | replace("True","Yes") | replace("False","No") }}</td>
            </tr>
            <tr>
                <th scope="row">Notes on Subjects</th>
                <td>{{ datadec.subjects_notes }}</td>
            </tr>
            <tr>
                <th scope="row">Consent Status</th>
                <td>{{ datadec.consent_status.label }}</td>
            </tr>
            <tr>
                <th scope="row">Notes on Consent</th>
                <td>{{ datadec.consent_notes }}</td>
            </tr>
            <tr>
                <th scope="row">De-Identification Type</th>
                <td>{{ datadec.de_identification_type.label }}</td>
            </tr>
            <tr>
                <th scope="row">Use Restrictions</th>
                <td>
                    {% for code in datadec.duc_codes %}
                    <h4>{{ code.get_duc_codes_name(code.ga4gh_code) }}</h4>
                    <p>{{ code.note }}</p>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}