{% extends "layout.html" %}
{% import "forms_macros.html" as fmacros %}
{% block title %}Study Form{% endblock %}
{% block js %}
{{ super() }}
{% assets "select2_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "submission_editor_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
{% block css %}
{{ super() }}
{% assets "select2_css" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
{% endassets %}
{% endblock %}
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">{% if study_form.id.data %}Update {% else %}Add New {% endif %}Study</div>
    <div class="panel-body">
        <form method="POST" {% if study_form.id.data %}
              data-url="{{ url_for('edit_submission_study', study_id = study_form.id.data)}}" {% else %}
              data-url="{{ url_for('add_submission_study', sub_id=study_form.submission_id.data)}}" {% endif %}>
            <fieldset>
                {{ study_form.hidden_tag() }}
                {{ fmacros.render_field_with_errors(study_form.name) }}
                {{ fmacros.render_field_with_errors(study_form.description) }}
                {{ fmacros.render_field_with_errors(study_form.website) }}
                {{ fmacros.render_field_with_errors(study_form.ethics_approval_exists) }}
                {{ fmacros.render_field_with_errors(study_form.ethics_approval_no) }}
                {{ fmacros.render_field_with_errors(study_form.study_types, clazz="elx-multi-select") }}
            </fieldset>
            <div class="form-group row">
            </div>
            <label for="contacts-fieldset">
                Study Contacts
            </label>
            <fieldset id="contacts-fieldset">
                <div class="form-group row {% if study_form.study_contacts.errors %}has-error{% endif %}">
                    <div class="col-md-12">
                        <div data-toggle="fieldset" id="study-contacts-fieldset">
                            <button type="button" data-toggle="fieldset-add-row" data-target="#study-contacts-fieldset">
                                +
                            </button>
                            <table>
                                <tr>
                                    <th width="10%">Name</th>
                                    <th width="10%">Surname</th>
                                    <th width="15%">Email</th>
                                    <th width="15%">Role</th>
                                    <th width="45%">Address/Institution</th>
                                    <th width="5%"></th>
                                </tr>
                                {% for contact_form in study_form.study_contacts %}
                                <tr data-toggle="fieldset-entry">
                                    <td>{{ fmacros.render_field(contact_form.firstname) }}</td>
                                    <td>{{ fmacros.render_field(contact_form.lastname) }}</td>
                                    <td>{{ fmacros.render_field(contact_form.email) }}</td>
                                    <td>{{ fmacros.render_field(contact_form.category_id) }}</td>
                                    <td>{{ contact_form.address(rows='3',cols='30')}}</td>
                                    <td>
                                        <button type="button" data-toggle="fieldset-remove-row"
                                                id="study-contacts-{{ loop.index0 }}-remove">-
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        {% if study_form.study_contacts.errors %}
                        {% for error in study_form.study_contacts.errors %}<p class="help-block">{{ error }}</p>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </fieldset>
            <input type="submit" class="save btn btn-raised btn-primary" value="Save"/>
        </form>
        <a href="{{ url_for('view_submission',sub_id=study_form.submission_id.data) }}" role="button">Cancel</a>
    </div>
</div>
{% endblock %}