{% extends "layout.html" %}
{% import "forms_macros.html" as fmacros%}
{% block title %}Submission Editor{% endblock %}
{% block js %}
    {{ super() }}
    {% assets "submission_editor_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets "jquery_multiselect_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets "select2_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

{% endblock %}
{% block css %}
    {{ super() }}
    {% assets "jquery_multiselect_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}

    {% assets "select2_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}
{% endblock %}
{% block content %}

    {% include 'submission/_submission_progress_bar.html' %}


    {{ macros.show_flashes() }}

    <div class="row">
        <div class="col-md-10 block" >
            <div id="basicinfo" class="container">
                <form id="form_submission_basics"
                      method="POST"
                      action="{{ url_for('edit_submission',sub_id=submsn_form.id.data) }}">
                    {{ submsn_form.hidden_tag() }}
                    {{ fmacros.render_field_with_errors(submsn_form.ref_name, readonly=true) }}
                    {{ fmacros.render_field_with_errors(submsn_form.title) }}
                    {{ fmacros.render_field_with_errors(submsn_form.created_on, div_col_class="col-md-2", readonly=true) }}
                    {{ fmacros.render_field_with_errors(submsn_form.current_status, div_col_class="col-md-2", clazz="elx-select", disabled=true) }}

                </form>
            </div>
        </div>
        {#    SIDEBAR     #}
        <div class="col-md-2" id="sidebar">
            <div class="row block" id="button-group">
                <div class="row ">
                    <p class="col-md-offset-1 col-sm-offset-1  col-xs-offset-1 col-xs-5 col-md-5 col-sm-5">
                        <button class="save btn btn-raised btn-primary" form="form_submission_basics" >SAVE & <br/> RETURN LATER</button>
                    </p>

                </div>
                <div class="row ">
                    <p class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xs-3 col-md-3 col-sm-3">
                        <button class="save btn btn-raised btn-primary">PROCEED<br/>TO NEXT STEP</button>
                    </p>
                </div>
                <div class="row ">
                    <p class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xs-3 col-md-3 col-sm-3">
                        <button class="btn btn-default btn-raised">NEED HELP ?</button>
                    </p>
                </div>
            </div>
        </div>
    </div>



    <div class="row" id="tabs">
        <ul>

            {% if current_user.is_admin  or  submission.current_status.step_num() == 2 %}
                <li><a href="#contacts">Contacts</a></li>
                <li><a href="#attachments">Attachments</a></li>
                <li><a href="#dishes">Studies</a></li>
                <li><a href="#ducs">Data Use Conditions</a></li>
            {% endif %}
            {% if current_user.is_admin  or  submission.current_status.step_num() == 3 %}
                <li><a href="#datas">Data Upload</a></li>
            {% endif %}
        </ul>

        {% if current_user.is_admin  or  submission.current_status.step_num() == 2 %}
            <div id="contacts">
                {% with %}
                    {% set contacts = submission.contacts %}
                    {% set contact_form =  submsn_form.child_contact_form() %}
                    <div id="contacts_inline_list"  data-url="{{ url_for('list_submission_contacts',sub_id=submission.id) }}">
                        {% include 'submission/_contact_columns.html' %}
                    </div>
                    <hr size="2px"/>
                    <div id="contacts_inline_editor" data-url="{{ url_for('add_edit_submission_contact') }}">
                        {% include 'submission/_contact_form.html' %}
                    </div>
                {% endwith %}
            </div>

            <div id="attachments">
                {% with %}
                    {% set attachments = submission.attachments %}
                    {% set attachment_form =  submsn_form.child_attachment_form() %}
                    <div id="attachments_inline_list"  data-url="{{ url_for('list_submission_attachments',sub_id=submission.id) }}">
                        {% include 'submission/_attachment_columns.html' %}
                    </div>
                    <hr size="2px"/>

                    <!--class="container" -->
                    <div id="attachments_inline_editor" data-url="{{ url_for('add_submission_attachment') }}">
                        {% include 'submission/_attachment_form.html' %}
                    </div>
                {% endwith %}
            </div>
            <div id="dishes">
                {% with %}
                    {% set dishes = submission.dishes %}
                    {% set dish_form =  submsn_form.child_dish_form() %}
                    <div id="dishes_inline_list" data-url="{{ url_for('list_submission_dishes',sub_id=submission.id) }}">
                        {% include 'submission/_dish_columns.html' %}
                    </div>
                    <hr size="2px"/>
                    <div id="dishes_inline_editor" data-url="{{ url_for('add_edit_submission_dish') }}">
                        {% include 'submission/_dish_form.html' %}
                    </div>
                {% endwith %}
            </div>
            <div id="ducs">
                {% with %}
                    {% set ducs = submission.use_conditions %}
                    {% set duc_form =  submsn_form.child_duc_form() %}
                    <div id="ducs_inline_list" data-url="{{ url_for('list_submission_ducs',sub_id=submission.id) }}">
                        {% include 'submission/_duc_columns.html' %}
                    </div>
                    <hr size="2px"/>
                    <div id="ducs_inline_editor" data-url="{{ url_for('add_edit_submission_duc') }}">
                        {% include 'submission/_duc_form.html' %}
                        {% include 'submission/_duc_form.html' %}
                    </div>
                {% endwith %}
            </div>
        {% endif %}
        {% if current_user.is_admin  or  submission.current_status.step_num() == 3 %}
            <div id="datas">
            </div>
        {% endif %}
    </div>

{% endblock %}

