{% extends "layout.html" %}
{% import "forms_macros.html" as fmacros %}
{% block title %}Submission Form{% endblock %}
{% block js %}
{{ super() }}
{% assets "select2_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "submission_editor_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
{% block css %}
{{ super() }}
{% assets "select2_css" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
{% endassets %}
{% endblock %}
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">Update Submission</div>
    <div class="panel-body">
        <form method="POST"
              data-url="{{ url_for('edit_submission',sub_id=submsn_form.id.data)}}">
            <fieldset>
                {{ submsn_form.hidden_tag() }}
                {{ fmacros.render_field_with_errors(submsn_form.institution_accession, clazz="elx-select") }}
                {{ fmacros.render_field_with_errors(submsn_form.title) }}
                {{ fmacros.render_field_with_errors(submsn_form.submission_scope_code, clazz="elx-select") }}
                {{ fmacros.render_field_with_errors(submsn_form.local_custodians, clazz="elx-multi-select") }}
                {{ fmacros.render_field_with_errors(submsn_form.local_project_name) }}
                {{ fmacros.render_field_with_errors(submsn_form.notes) }}
                <label for="contacts-fieldset">
                    Submission Contacts
                </label>
                <fieldset id="contacts-fieldset">
                    <div class="form-group row {% if submsn_form.submission_contacts.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div data-toggle="fieldset" id="submsn-contacts-fieldset">
                                <button type="button" data-toggle="fieldset-add-row" data-target="#submsn-contacts-fieldset">
                                    +
                                </button>
                                <table>
                                    <tr>
                                        <th width="10%">Name</th>
                                        <th width="10%">Surname</th>
                                        <th width="15%">Email</th>
                                        <th width="15%">Role</th>
                                        <th width="45%">Affiliation(if different from Submitting Institute)</th>
                                        <th width="5%"></th>
                                    </tr>
                                    {% for contact_form in submsn_form.submission_contacts %}
                                    <tr data-toggle="fieldset-entry">
                                        <td>{{ fmacros.render_field(contact_form.firstname) }}</td>
                                        <td>{{ fmacros.render_field(contact_form.lastname) }}</td>
                                        <td>{{ fmacros.render_field(contact_form.email) }}</td>
                                        <td>{{ fmacros.render_field(contact_form.category_id) }}</td>
                                        <td>{{ contact_form.address(rows='3',cols='30')}}</td>
                                        <td>
                                            <button type="button" data-toggle="fieldset-remove-row"
                                                    id="submsn-contacts-{{ loop.index0 }}-remove">-
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            {% if submsn_form.submission_contacts.errors %}
                            {% for error in submsn_form.submission_contacts.errors %}<p class="help-block">{{ error }}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </fieldset>
                {% if current_user.is_admin() %}
                {{ fmacros.render_field_with_errors(submsn_form.provider_user_ids, clazz="elx-multi-select") }}
                {% endif %}
                </fieldset>
            <input type="submit" class="save btn btn-raised btn-primary" value="Save"/>
        </form>
    </div>
</div>
{% endblock %}