{% extends "layout.html" %}
{% set active_page = 'submission' %}
{% import "forms_macros.html" as fmacros %}
{% block title %}Submission Editor{% endblock %}
{% block js %}
{{ super() }}
{% assets "submission_editor_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "jsoneditor_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}

{% block content %}

<div class="row block">

    <div class="row">

        <div id="basicinfo" class="col-md-11">
            {% include 'submission/_submission_header.html' %}
            <div class="row">
                <div class="form-group col-md-11">
                    <span class="label label-default">Upload Instructions</span><br/><br/>
                    {% if submission.upload_instructions %}
                    {% for line in submission.uploads_instructions_lines() %}
                    <label>{{ line|urlize(40, True, '_blank') }}</label><br>
                    {% endfor %}

                    {% else %}
                    <label>Instructions will be provided once you complete Dataset Declaration and we create an upload
                        link for you.</label>
                    {% endif %}
                </div>
            </div>
        </div>
        {# SIDEBAR BUTTONS #}
        <div id="submission_commands_bar" class="col-md-1">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a {% if current_user.is_admin() %} href="{{ url_for('list_submissions') }}" {% else %}
                   href="{{ url_for('list_my_submissions') }}" {% endif %}
                   class="btn btn-info btn-lg"><span
                        class="glyphicon glyphicon-remove-circle"
                        data-toggle="tooltip"
                        title="Close"></span>
                </a>
                {% if submission.current_status.next_state() is not none %}
                {% if current_user.is_admin() or submission.current_status.step_num() ==1 or
                submission.current_status.step_num() ==2 %}
                <a name="button_submission_editor_steer"
                   data-url="{{ url_for('steer_submission',sub_id=submission.id) }}"
                   class="btn btn-info btn-lg"><span class="glyphicon glyphicon-forward"
                                                     data-toggle="tooltip"
                                                     title="Proceed to {{ submission.current_status.next_state().value }}"></span>
                </a>
                {% endif %}
                {% endif %}
                {% if submission.current_status.prev_state() is not none %}
                {% if current_user.is_admin() %}
                <a name="button_submission_editor_revert"
                   data-url="{{ url_for('revert_submission',sub_id=submission.id) }}"
                   class="btn btn-info btn-lg"><span class="glyphicon glyphicon-backward"
                                                     data-toggle="tooltip"
                                                     title="Revert to {{ submission.current_status.prev_state().value }}"></span>
                </a>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% if current_user.is_admin() or submission.current_status.step_num() == 1 or submission.current_status.step_num()
    ==2 %}
    <div class="row">
        <div class="col-md-11">
            <form id="form_submission_basics"
                  method="POST"
                  action="{{ url_for('edit_submission',sub_id=submsn_form.id.data) }}">
                {{ submsn_form.hidden_tag() }}
                {{ fmacros.render_field_with_errors(submsn_form.title) }}
                {{ fmacros.render_field_with_errors(submsn_form.submission_scope_code, div_col_class="col-md-2",
                clazz="elx-select") }}
                {{ fmacros.render_field_with_errors(submsn_form.collab_local_custodian, clazz="elx-multi-select") }}
                {{ fmacros.render_field_with_errors(submsn_form.collab_project_name) }}

                {% if current_user.is_admin() %}
                {{ fmacros.render_field_with_errors(submsn_form.provider_user_ids, clazz="elx-multi-select") }}
                {{ fmacros.render_field_with_errors(submsn_form.upload_instructions) }}
                {% endif %}
            </form>
        </div>
        <div id="submission_form_commands_bar" class="col-md-1">
            <a href="javascript:;" onclick="document.getElementById('form_submission_basics').submit();"
               class="btn btn-info btn-lg"><span class="glyphicon glyphicon-floppy-save"
                                                 data-toggle="tooltip"
                                                 title="Save"></span>
            </a>
        </div>
    </div>
    {% endif %}
</div>

<div class="row" id="tabs">
    <ul>
        <li><a href="#studies">Studies</a></li>
        <li><a href="#datasets">Datasets</a></li>
        <li><a href="#attachments">Attachments</a></li>
        <li><a href="#uploadinfos">File Checksums</a></li>
    </ul>
    <div id="studies">
        <br/>
        <p>In this section you should declare studies for this submission. </p><br/>
        {% with %}
        {% set studies = submission.studies %}
        {% set readonly = True %}
        <div class="col-md-10">
            {% include 'submission/_study_columns.html' %}
        </div>
        {% endwith %}
        {% if current_user.is_admin() or submission.current_status.step_num() ==1 or
        submission.current_status.step_num() ==2 %}
        <div class="col-md-2">
            <a class="btn btn-primary btn-lg"
               href="{{ url_for('inline_submission_studies',sub_id=submission.id) }}">
                <span class="glyphicon glyphicon-pencil" style="font-size: xx-large"></span>
                Edit<br/>
                <span>Studies</span><br/>
            </a>
        </div>
        {% endif %}
    </div>
    <div id="datasets">
        <br/>
        <p>In this section you should declare the datasets that you will be submitting to us. We require a Data Information Sheet to be filled per study.</p><br/>
        {% with %}
        {% set datasets = submission.datasets %}
        {% set readonly = True %}
        <div class="col-md-10">
            {% include 'submission/_dataset_columns.html' %}
        </div>
        {% endwith %}
        {% if current_user.is_admin() or submission.current_status.step_num() ==1 or
        submission.current_status.step_num() ==2 %}
        <div class="col-md-2">
            <a class="btn btn-primary btn-lg"
               href="{{ url_for('inline_submission_datasets',sub_id=submission.id) }}">
                <span class="glyphicon glyphicon-pencil" style="font-size: xx-large"></span>
                Edit<br/>
                <span>Datasets</span><br/>
            </a>
        </div>
        {% endif %}
    </div>
    <div id="attachments">
        <p>In this section you can upload any documentation that support the information declared in the Dataset
            section. E.g. a copy of the Ethics Approval for the source study, the template of the Consent Form used
            during data collection etc.
            <span style="color:red;font-weight:bold">Please do NOT upload any DATA or METADATA through this section.</span>
        </p><br/>
        {% with %}
        {% set attachments = submission.attachments %}
        {% set readonly = True %}
        <div class="col-md-10">
            {% include 'submission/_attachment_columns.html' %}
        </div>
        {% endwith %}
        {% if current_user.is_admin() or submission.current_status.step_num() == 1 or
        submission.current_status.step_num() ==2 %}
        <div class="col-md-2">
            <a class="btn btn-primary btn-lg"
               href="{{ url_for('inline_submission_attachments',sub_id=submission.id) }}">
                <span class="glyphicon glyphicon-pencil" style="font-size: xx-large"></span>
                Edit<br/>
                <span>Attachments</span><br/>
            </a>
        </div>
        {% endif %}
    </div>
    <div id="uploadinfos">
        <br/>
        <p>Once you have uploaded data files, please register the file checksums. This is necessary for us to verify that transfer has occurred without errors.</p><br/>
        {% with %}
        {% set uploadinfos = submission.uploadinfos %}
        {% set readonly = True %}
        <div class="col-md-10">
            {% include 'submission/_uploadinfo_columns.html' %}
        </div>
        {% endwith %}
        {% if current_user.is_admin() or submission.current_status.step_num() == 2 %}
        <div class="col-md-2">
            <a class="btn btn-primary btn-lg"
               href="{{ url_for('inline_submission_uploadinfos',sub_id=submission.id) }}">
                <span class="glyphicon glyphicon-pencil" style="font-size: xx-large"></span>
                Edit<br/>
                <span>File Checksums</span><br/>
            </a>
        </div>
        {% endif %}
    </div>
</div>

{% include 'submission/_submission_progress_bar.html' %}

{% endblock %}

