
<!--Footer-->
<footer class="page-footer font-small">

    <!--Cookie Policy-->
    <div class="footer-copyright text-center">
        &#169; Copyright 2020 <a href="https://elixir-luxembourg.org">ELIXIR-LU</a>  <span>&#124;</span>  <a href="https://elixir-luxembourg.org/privacy">Privacy Policy</a>
        (<span id="doNotTrack-text"><span id="gdpr-result-text"></span> - <a href="javascript: showBanner();">change</a></span>)
    </div>
    <!--/.Cookie Policy-->

</footer>
<!--/.Footer-->
                      