<!-- Footer -->
<footer class="bg-light text-center py-3 mt-auto">

    <!-- Cookie Policy / Copyright -->
    <div class="small">
        &#169; Copyright 2020
        <a href="https://elixir-luxembourg.org" class="text-decoration-none">ELIXIR-LU</a>
        <span class="mx-1">&#124;</span>
        <a href="https://elixir-luxembourg.org/privacy" class="text-decoration-none">Privacy Policy</a>
        (<span id="doNotTrack-text">
            <span id="gdpr-result-text"></span> - 
            <a href="javascript: showBanner();" class="text-decoration-none">change</a>
        </span>)
    </div>

</footer>
<!-- End Footer -->
