{% macro render_field_with_errors(field) %}
    {% set div_col_class = kwargs.pop('div_col_class', "col-md-8") %}
    {% set clazz = "form-control " + kwargs.pop('clazz',"") %}
    <div class="form-group row {% if field.errors %}has-error{% endif %}">

        {{ field.label(class="col-md-2 control-label") }}

        <div class="{{ div_col_class }}">
                {{ field(class= clazz, **kwargs)|safe }}
            {% if field.errors %}
                {% for error in field.errors %}<p class="help-block">{{ error }}</p>{% endfor %}
            {% endif %}
        </div>
    </div>
{% endmacro %}


{% macro render_checkbox_field(field) %}
    <div class="form-group row">
        {{ field.label(class="col-md-2 control-label") }}
        <div class="col-md-1">
                <input id="{{ field.name }}" name="{{ field.name }}" class="form-control" type="checkbox"
                        {% if field.data %} checked="checked" {% endif %}/>
        </div>
    </div>
{% endmacro %}


{% macro render_field(field) %}
    <p>{{ field(**kwargs)|safe }}</p>
{% endmacro %}

{% macro render_button_field(field) %}
    {{ field( class="btn btn-raised btn-primary" ) }}
{% endmacro %}

