<header class="row">

    <div class="col-md-6"><h1 align="left"><strong>Data Submission System</strong></h1></div>
    <div class="col-md-2 logos-section">
        <img src="/static/public/images/ELIXIR_LU_WB.svg" alt="elixir luxembourg logo"  width="auto" height="auto"/>
    </div>
    <div class="col-md-2 logos-section">
        <img src="/static/public/images/LCSB-logo.svg"  width="100px" height="auto">
    </div>
    <div class="col-md-2 logos-section">
        <img src="/static/public/images/Uni-LU.svg" width="100px" height="auto">
    </div>

</header>

