<header class="row">
    <p class="col-md-2">
        <img src="/static/public/images/elixir.png" alt="elixir luxembourg logo"/>
    </p>
    <h1 class="col-md-6">
        ELIXIR-LU Data and
        Computing Platform</h1>
    <p><b>[ {{ current_user.first_name }} {{ current_user.last_name}} ]</b></p>
    {% if active_page =='login' %}

    {% else %}
        <p id="login-buttons" class="col-md-4">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="
            {{ url_for('login') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}"
                   class="btn btn-default btn-raised">Sign-In (ELIXIR AAI)</a>
            {% endif %}
        </p>
    {% endif %}
</header>