<header class="row align-items-center py-3">

    <div class="col-md-6 text-start">
        <h1><strong>Submission System</strong></h1>
    </div>

    <div class="col-md-2 col-4 logos-section d-flex justify-content-center">
        <img src="/static/public/images/ELIXIR_LU_WB.svg" alt="ELIXIR Luxembourg logo" width="150" height="auto">
    </div>
    <div class="col-md-2 col-4 logos-section d-flex justify-content-center">
        <img src="/static/public/images/LCSB-logo.svg" alt="LCSB logo" width="90" height="auto">
    </div>
    <div class="col-md-2 col-4 logos-section d-flex justify-content-center">
        <img src="/static/public/images/Uni-LU.svg" alt="Uni-LU logo" width="90" height="auto">
    </div>

</header>
