{% extends 'layout.html' %}

{% block content %}

<div class="row">

    <div class="col-md-8">
        <div class="row block" id="home-description">
            <div class="col-md-12">

                <p align="justify" style="font-size:22px">This site is targeted for data providers, who want to submit
                    Human Data to the ELIXIR-LU Data Repository or to Collaborators at Luxembourg Centre for Systems Biomedicine (LCSB).</p>
                <br/>

                <p align="justify" style="font-size:22px">In order to use the Data Submission System:</p>
                <br/>
                <p align="justify" style="font-size:22px"><strong>1 </strong> Please <a target="_blank"
                                                                                        href="https://www.elixir-europe.org/intranet">register
                    with ELIXIR
                    AAI</a>. You will then be able to login to the Submission System using either your Institutional,
                    Google or ORCID account.</p>
                <br/>
                <p align="justify" style="font-size:22px"><strong>2 </strong> Please notify your LCSB Collaborator or
                    the ELIXIR-LU Data Steward (by e-mail) about your intention to submit Human Data.</p>
                <br/>
                <p align="justify" style="font-size:22px"><strong>3 </strong> You will receive an invite (by e-mail) to
                    login to the Submission System and follow the necessary steps.</p>

            </div>
        </div>

        <div class="row block" id="home-description-2">
            <div class="col-md-6">
                <h2>About Us</h2>
                <br/><br/>
                <p id="about-links">
                    <a href="https://wwwen.uni.lu/lcsb">LCSB</a><br/>
                    <a href="https://elixir-luxembourg.org">ELIXIR-Luxembourg</a><br/>
                    <a href="https://www.elixir-europe.org">ELIXIR</a>
                </p>
            </div>
        </div>
    </div>
    {# SIDEBAR #}
    <div class="col-md-4" id="sidebar">
        <div class="col-md-12">
            <!--
            <div class="row block" id="home-users">
                {#    USERS     #}
                <h2>Users</h2>
                <div class="row ">
                    <p class="col-md-offset-1 col-sm-offset-1  col-xs-offset-1 col-xs-5 col-md-5 col-sm-5">
                        <button class="btn btn-default btn-raised">EXPLORE<br/>DATA CATALOG</button>
                    </p>
                    <p class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xs-3 col-md-3 col-sm-3">
                        <button class="btn btn-default btn-raised">EXPLORE<br/>TOOLS</button>
                    </p>
                </div>

            </div>
           -->
            <div class="row block">
                <!--
               {# DATA PROVIDERS #}
               <h2>Data Providers</h2>
               -->
                <h2><a href="https://datacatalog.elixir-luxembourg.org">Explore our Data Catalog!</a></h2>
                <p align="justify" style="font-size:22px">If you'd like to deposit data to the ELIXIR Luxembourg
                    Repository and have questions, please contact us.</p>
                <br/>
                <p><img src="/static/public/images/datasteward_contact.png" width="250px"/></p>
            </div>

            <div class="row block">
                <p>
                    <a class="twitter-timeline" data-height="400"
                       href="https://twitter.com/elixir_lu?ref_src=twsrc%5Etfw">Tweets by
                        elixir_lu</a>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}