{% import 'macros.html' as macros %}

<!doctype html>
<html lang="en">
<head>
    <title>{{ config.get('TITLE', 'ELIXIR-DCP Home') }} - {% block title %}Home{% endblock %}</title>
    {% block meta %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    {#    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">#}
    {% block css %}
        {% assets "common_css" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
        {% endassets %}
        <!-- Material Design fonts -->
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    {% endblock %}
    <script type="text/javascript">
        function defer(method) {
            if (window.jQuery)
                method();
            else
                setTimeout(function () {
                    defer(method)
                }, 50);
        }
    </script>
</head>
<body>


<div id="wrap">
    {% block container %}
        <div class="container" id="main-container">
            {% block header %}
                {% with active_page=active_page %}
                    {% include 'header.html' %}
                {% endwith %}
            {% endblock %}
            {{ macros.show_flashes() }}
            {% block navbar %}
                {% with active_page=active_page %}
                    {% include 'navbar.html' %}
                {% endwith %}
            {% endblock %}
            {% block content %}{% endblock %}
        </div>
    {% endblock %}
</div>
{% block footer %}{% include 'footer.html' %}{% endblock %}
{% block extra_content %}{% endblock %}
{% block js %}
    {% assets "common_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
</body>
</html>
