{% import 'macros.html' as macros %}
<!doctype html>
<html lang="en">
<head>
    <title>{{ config.get('TITLE', 'Submission System') }} - {% block title %}Home{% endblock %}</title>
    {% block meta %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">
    {% block css %}
        {% assets "common_css" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
        {% endassets %}
        <!-- Material Design fonts -->
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    {% endblock %}
    <script type="text/javascript">
        function defer(method) {
            if (window.jQuery)
                method();
            else
                setTimeout(function () {
                    defer(method)
                }, 50);
        }
    </script>
    <script>
        const settings = {
            expires: "180",
            matomoURL: "https://analytics.lcsb.uni.lu/hub/",
            siteID: "-1", //you get this siteID by sending an email to lcsb-r3@uni.lu
            accept_all_text: "Aggregate statistics cookies accepted",
            only_necessary_text: "Only necessary cookies accepted",
            doNotTrack_text: "Do Not Track is enabled",
            cookieName: "lap",
            bots: /bot|crawler|spider|crawling/i,
            timeout_hidebanner: "500",
            cookieDomain: "*.lux-covid19.lu"
        };
    </script>
    <script src="https://analytics.lcsb.uni.lu/lap/static/js/jquery.min.js"></script>
    <script src="https://analytics.lcsb.uni.lu/lap/static/js/lap.js"></script>

    <link rel="stylesheet" type="text/css" href="https://analytics.lcsb.uni.lu/lap/static/css/lap.css" />

</head>
<body>


    <div id="wrap">
        {% block container %}
            <div class="container" id="main-container">
                {% block header %}
                    {% with active_page=active_page %}
                        {% include 'header.html' %}
                    {% endwith %}
                {% endblock %}
                {% block navbar %}
                    {% with active_page=active_page %}
                        {% include 'navbar.html' %}
                    {% endwith %}
                {% endblock %}
                {{ macros.show_flashes() }}
                {% block content %}{% endblock %}

                <div id="common-command-dialog" title="Confirm" class="dialog-body" style="display:none">
                    <!-- Fragment displayed within a JQuery UI Dialog  -->
                    <p>
                        You are about to <span id="command-dialog-text"></span>!
                    </p>
                </div>
            </div>
        {% endblock %}
    </div>
    {% block footer %}{% include 'footer.html' %}{% endblock %}
    {% block extra_content %}{% endblock %}
    {% block js %}
        {% assets "common_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    {% endblock %}
    <div id="lap-cookies-banner">
        <div class="banner-intro">
            <div class="close-button">
                <a class="lap-refuse">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </div>
            <div class="banner-img">
                <img src="https://analytics.lcsb.uni.lu/lap/static/logos/r3-logo.svg" type="image/svg+xml"/>
            </div>
            <div class="banner-title">This website needs some cookies and similar means to function.</div>
            <div class="banner-text">If you permit us, we will use those means to collect data on your visits for aggregated
                statistics to improve our service.
            </div>
        </div>

        <div class="banner-buttons">
            <a class="btn lap-accept">Accept cookies for aggregated statistics</a>
            <a class="btn lap-refuse">No thanks, only technically necessary cookies</a>
            <a class="btn lap-cookies-more" href="privacy-policy">More information</a>
        </div>
    </div>
</body>
</html>
