{% if link %}
  <div class="mb-3">
    <label class="form-label small text-muted">Upload Link</label>
    <div class="input-group input-group-sm">
      <input type="text" class="form-control" value="{{ link.absolute_url }}" id="lftUrl" readonly>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label small text-muted">Password</label>
    <div class="input-group input-group-sm">
      <input type="text" class="form-control font-monospace" value="{{ link.password }}" readonly>
    </div>
  </div>
{% else %}
  <div class="alert alert-warning mb-0">Upload link not available</div>
{% endif %}
