<div class="modal fade" id="lftLinkModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Upload Link</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body" id="lftLinkModalBody">
        <div class="text-center py-4">
          <div class="spinner-border spinner-border-sm text-primary"></div>
          <div class="small text-muted mt-2">Loading...</div>
        </div>
      </div>
    </div>
  </div>
</div>
