{% extends "layout.html" %}
{% import "forms_macros.html" as fmacros %}
{% block title %} New Message Form{% endblock %}
{% block js %}
{{ super() }}
{% assets "select2_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "tm_editor_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
    <script>
        tinymce.init({
            selector: 'textarea#message_text',
            plugins: [" link "],
            toolbar: 'undo redo | styleselect | bold italic | link | alignleft aligncenter alignright ',
            menubar: 'edit insert format',
            statusbar: false
        });
    </script>
{% endassets %}
{% assets "submission_editor_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
{% block css %}
{{ super() }}
{% assets "select2_css" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
{% endassets %}
{% endblock %}
{% block content %}
<div class="card border shadow-sm mb-4">
    <div class="card-header bg-white border-bottom">
        <h5 class="mb-0 fw-semibold">Add New Message</h5>
    </div>
    <div class="card-body p-4">
        <form method="POST"
              data-url="{{ url_for('add_submission_message', sub_id=message_form.submission_id.data)}}">
            {{ message_form.hidden_tag() }}


           {{fmacros.render_field_with_errors(message_form.message_text) }}

            <div class="d-flex gap-2 mt-4">
                <input type="submit" class="save btn btn-primary" value="Save"/>
                <a href="{{ url_for('view_submission',sub_id=message_form.submission_id.data) }}" class="cancel btn btn-outline-secondary" role="button">Cancel</a>
            </div>
        </form>
    </div>

</div>

{% endblock %}